/* Style inputs with type="text", select elements and textareas */
#hotroMail input[type=text],input[type=email], textarea {
    width: 100%; /* Full width */
    padding: 5px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}




