/* Full-width input fields */
.infoAccount {
  margin: 5px 0;
  float: right;
  background: white;
  width: 150px;
  position: relative;
  border-radius: 3px;
  padding: 5px;
  display: none;
  border: 1px solid #ac6910;
  border-radius: 10px;
  
}
.infoAccount p{
	margin-top:4px;
	margin-bottom:4px;	
}
.infoAccount p:hover{
	font-weight:bold;
}
/*thongBao*/
.sync .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.sync button {
    background-color: #fd9a09;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 49%;
}
.sync button:hover{
	opacity: 0.8;
}

/* Modal Content */
.sync .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
}
/*thongBao*/
.divAccount{
	width: 100%;
}
.divAccount .login{
	background-color: orange;
	width:98%;
	max-height:80px;
	cursor:pointer;	
	border-radius: 10px;
	margin: 3px;
}
.divAccount .login h4{	
	width: 90%;
	margin:auto;
}
.divAccount .login h4:hover{
	background-color: orange;
}
.divAccount .login img{
	width: 10%;
}
.divAccount img{
	height: 20px;
	width: 20px;
	border: 1px solid orange;
	border-radius: 5px;
	float: left; 	
}
.divAccount h4{
	background-color: orange;
      margin-top: 0px;
      width: 100%;
      padding: 1%;
   border-radius: 10px;
	margin-bottom: 5px;
   cursor: pointer;
	
	}
.containerLogin input[type=text], input[type=password], input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
.containerLogin button {
    background-color: #fd9a09;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.containerLogin button:hover {
    opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
    width: 40%;
    
}

.containerLogin {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 40%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}